<section class="about-us-section">
    <div class="about-us-container container">
        <h2 id="about-us" class="about-us-title">
            About<span class="about-us-title-two"> Us</span>
        </h2>
        <div class="about-us-list">
            <img class="camera-image" srcset="
              ./img/1x/camera_on_cylinder@1x.png 1x,
              ./img/2x/camera_on_cylinder@2x.png 2x
            " src="./img/1x/students@1x.jpg" alt="Camera on cylinder" />
            <div class="about-us-paragraph-container">
                <p class="about-us-paragraph">
                    Our photography school is designed to teach you everything you need
                    to know about this magical art. Regardless of your experience or
                    skill level, we offer a wide range of courses to suit your needs and
                    interests. Our teaching team consists of experienced photographers
                    who have many years of experience in this field. They strive not
                    only to share their knowledge, but also to inspire you to develop
                    and express your unique creativity.
                </p>
                <p class="about-us-paragraph">
                    Our courses cover a wide range of topics, from the basics of
                    photography and equipment use to professional image processing and
                    creating impressive compositions. You will have the opportunity to
                    learn the technical aspects of photography, discover your own style
                    and develop your own visual language.
                </p>
            </div>
        </div>
    </div>
</section>