<section class="hero">
  <div class="container">
    <h1 class="hero-title">
      Discover the magic of
      <span class="hero-title-second-style">photography</span> in our school
    </h1>
    <p class="hero-text">
      Our photography school offers an unforgettable journey, where you can
      learn the basics of composition, master technical skills, translate your
      unique ideas.
    </p>
    <img
      class="students-image"
      srcset="../img/1x/students@1x.jpg 1x, ../img/2x/students@2x.jpg 2x"
      src="../img/1x/students@1x.jpg"
      alt="Student portraits"
    />
    <a class="" href="#reviews">
      Our happy students
      <svg class="" width="" height="">
        <use href=""></use>
      </svg>
    </a>
  </div>
</section>
