<section class="our-courses-section container" id="our-courses">
  <div class="our-courses-header-container">
    <h2 class="our-courses-header">
      Our <span class="our-courses-header-accent">Courses</span>
    </h2>
    <p class="our-courses-paragraph">
      At our photography school, we offer a variety of courses that cover all
      aspects of this fascinating art. Regardless of your experience or skill
      level, we have courses to suit your needs and goals.
    </p>
  </div>
  <ol class="our-courses-photo-list">
    <li class="our-courses-photo-list-item">
      <div class="our-courses-photo-container">

        <p class="our-courses-number">01</p>
        <a href="#sign-up" class="svg-button-round">
          <svg class="our-courses-photo-list-svg" width="20" height="20">
            <use href="./img/icons.svg#icon-arrow_up"></use>
          </svg>
        </a>
        <h2 class="our-courses-header-container-item">Basics of photography</h2>
        <p class="our-courses-paragraph-container-item">
          During this course, you will be able to familiarize yourself with
          different types of cameras, learn the basics of composition.
        </p>
      </div>
    </li>
    <div class="our-courses-photo-container">
      <li class="our-courses-photo-list-item">
        <p class="our-courses-number">02</p>
        <a href="#sign-up" class="svg-button-round">
          <svg class="our-courses-photo-list-svg" width="20" height="20">
            <use href="./img/icons.svg#icon-arrow_up"></use>
          </svg>
        </a>
        <h2 class="our-courses-header-container-item">Landscape photography</h2>
        <p class="our-courses-paragraph-container-item">
          In this course, you'll learn how to choose the right angles, frame
          landscapes, and create depth and perspective in your images.
        </p>
      </li>
    </div>
    <div class="our-courses-photo-container">
      <li class="our-courses-photo-list-item">
        <p class="our-courses-number">03</p>
        <a href="#sign-up" class="svg-button-round">
          <svg class="our-courses-photo-list-svg" width="20" height="20">
            <use href="./img/icons.svg#icon-arrow_up"></use>
          </svg>
        </a>
        <h2 class="our-courses-header-container-item">
          Portrait <br />photography
        </h2>
        <p class="our-courses-paragraph-container-item">
          During this course, you will learn to choose the right lighting,
          reproduce the mood and expressions on the faces of the models.
        </p>
      </li>
    </div>
  </ol>
</section>