<section class="our-courses-section">
  <h2 class="our-courses-header">Our Courses</h2>
  <p class="our-courses-paragraph">
    At our photography school, we offer a variety of courses that cover all
    aspects of this fascinating art. Regardless of your experience or skill
    level, we have courses to suit your needs and goals.
  </p>
  <ol class="our-courses-photo-list">
    <div class="our-courses-photo-container">
      <li class="our-courses-photo-list-item">
        <div class="svg-container-round">
          <svg class="our-courses-photo-list-svg" width="20" height="20">
            <use href="../img/"></use>
          </svg>
        </div>
        <h2>Basics of photography</h2>
        <p>
          During this course, you will be able to familiarize yourself with
          different types of cameras, learn the basics of composition.
        </p>
      </li>
    </div>
    <div class="our-courses-photo-container">
      <li class="our-courses-photo-list-item">
        <div class="svg-container-round">
          <svg class="our-courses-photo-list-svg" width="20" height="20">
            <use href="../img/"></use>
          </svg>
        </div>
        <h2>Landscape photography</h2>
        <p>
          In this course, you'll learn how to choose the right angles, frame
          landscapes, and create depth and perspective in your images.
        </p>
      </li>
    </div>
    <div class="our-courses-photo-container">
      <li class="our-courses-photo-list-item">
        <div class="svg-container-round">
          <svg class="our-courses-photo-list-svg" width="20" height="20">
            <use href="../img/"></use>
          </svg>
        </div>
        <h2>Portrait photography</h2>
        <p>
          During this course, you will learn to choose the right lighting,
          reproduce the mood and expressions on the faces of the models.
        </p>
      </li>
    </div>
  </ol>
  >
</section>
