<h2>Reviews</h2>
<ul>
  <li>
    <img 
    src="./img/1x/person1@1x.jpg" 
    alt="student avatar"
    width="56" height="56"
    />

    <h3>Abraham Baker</h3>
    <h4>Student</h4>
    <svg>
        <use href="../img/icons.svg#icon-star" width="20" height="20"></use>
    </svg>
    <svg>
        <use href="../img/icons.svg#icon-star" width="20" height="20"></use>
    </svg>
    <svg>
        <use href="../img/icons.svg#icon-star" width="20" height="20"></use>
    </svg>
    <svg>
        <use href="../img/icons.svg#icon-star" width="20" height="20"></use>
    </svg>
    <svg>
        <use href="../img/icons.svg#icon-star" width="20" height="20"></use>
    </svg>
    <p>
      I am very pleased that I decided to enroll in photography school. The
      teachers turned out to be very talented and experienced professionals who
      share their knowledge and are dedicated to their work. I was able to
      expand my skills and discover my own style.
    </p>
  </li>
  <li>
        <img 
        src="./img/1x/person2@1x.jpg" 
        alt="student avatar"
        width="56" height="56"
        />
    <h3>Amanda Lowery</h3>
    <h4>Student</h4>
    <svg>
        <use href="../img/icons.svg#icon-star" width="20" height="20"></use>
    </svg>
    <svg>
        <use href="../img/icons.svg#icon-star" width="20" height="20"></use>
    </svg>
    <svg>
        <use href="../img/icons.svg#icon-star" width="20" height="20"></use>
    </svg>
    <svg>
        <use href="../img/icons.svg#icon-star" width="20" height="20"></use>
    </svg>
    <svg>
        <use href="../img/icons.svg#icon-star" width="20" height="20"></use>
    </svg>
    <p>
      The courses at the photography school exceeded all my expectations. I
      gained not only technical knowledge, but also inspiration and motivation
      to reach new heights in my creativity. Hands-on classes and workshops
      helped me understand different styles of photography.
    </p>
  </li>
</ul>
