<!-- Reviews section -->
<section class="reviews-section" id="reviews">
  <div class="reviews-container container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="reviews-scroll">
      <ul class="reviews-block">
        <li class="reviews-item">
          <div class="reviews-item-top">
            <div class="avatar-name-container">
              <img
                class="avatar-img"
                srcset="./img/1x/person1@1x.jpg 1x, ./img/2x/person1@2x.jpg 2x"
                src="./img/1x/person1@1x.jpg"
                alt="student-avatar"
                width="56"
                height="56"
                loading="lazy"
              />
              <div class="name-status-container">
                <h3 class="name-title">Abraham Baker</h3>
                <p class="status-title">Student</p>
              </div>
            </div>
            <div class="stars-container">
              <svg class="stars-icon">
                <use
                  href="./img/icons.svg#icon-star"
                  width="16"
                  height="16"
                ></use>
              </svg>
              <svg class="stars-icon">
                <use
                  href="./img/icons.svg#icon-star"
                  width="16"
                  height="16"
                ></use>
              </svg>
              <svg class="stars-icon">
                <use
                  href="./img/icons.svg#icon-star"
                  width="16"
                  height="16"
                ></use>
              </svg>
              <svg class="stars-icon">
                <use
                  href="./img/icons.svg#icon-star"
                  width="16"
                  height="16"
                ></use>
              </svg>
              <svg class="stars-icon-dark">
                <use
                  href="./img/icons.svg#icon-star"
                  width="16"
                  height="16"
                ></use>
              </svg>
            </div>
          </div>
          <p class="comment-text">
            I am very pleased that I decided to enroll in photography school.
            The teachers turned out to be very talented and experienced
            professionals who share their knowledge and are dedicated to their
            work. I was able to expand my skills and discover my own style.
          </p>
        </li>
        <li class="reviews-item reviews-item-noneee">
          <div class="reviews-item-top">
            <div class="avatar-name-container">
              <img
                class="avatar-img"
                srcset="./img/1x/person2@1x.jpg 1x, ./img/2x/person2@2x.jpg 2x"
                src="./img/1x/person2@1x.jpg"
                alt="student avatar"
                width="56"
                height="56"
                loading="lazy"
              />
              <div class="name-status-container">
                <h3 class="name-title">Amanda Lowery</h3>
                <p class="status-title">Student</p>
              </div>
            </div>
            <div class="stars-container">
              <svg class="stars-icon">
                <use
                  href="./img/icons.svg#icon-star"
                  width="16"
                  height="16"
                ></use>
              </svg>
              <svg class="stars-icon">
                <use
                  href="./img/icons.svg#icon-star"
                  width="16"
                  height="16"
                ></use>
              </svg>
              <svg class="stars-icon">
                <use
                  href="./img/icons.svg#icon-star"
                  width="16"
                  height="16"
                ></use>
              </svg>
              <svg class="stars-icon">
                <use
                  href="./img/icons.svg#icon-star"
                  width="16"
                  height="16"
                ></use>
              </svg>
              <svg class="stars-icon-dark">
                <use
                  href="./img/icons.svg#icon-star"
                  width="16"
                  height="16"
                ></use>
              </svg>
            </div>
          </div>
          <p class="comment-text">
            The courses at the photography school exceeded all my expectations.
            I gained not only technical knowledge, but also inspiration and
            motivation to reach new heights in my creativity. Hands-on classes
            and workshops helped me understand different styles of photography.
          </p>
        </li>
        <li class="reviews-item">
          <div class="reviews-item-top">
            <div class="avatar-name-container">
              <img
                class="avatar-img"
                srcset="./img/1x/person2@1x.jpg 1x, ./img/2x/person2@2x.jpg 2x"
                src="./img/1x/person2@1x.jpg"
                alt="student avatar"
                width="56"
                height="56"
                loading="lazy"
              />
              <div class="name-status-container">
                <h3 class="name-title">Elizaveta Sokolova</h3>
                <p class="status-title">Student</p>
              </div>
            </div>
            <div class="stars-container">
              <svg class="stars-icon">
                <use
                  href="./img/icons.svg#icon-star"
                  width="16"
                  height="16"
                ></use>
              </svg>
              <svg class="stars-icon">
                <use
                  href="./img/icons.svg#icon-star"
                  width="16"
                  height="16"
                ></use>
              </svg>
              <svg class="stars-icon">
                <use
                  href="./img/icons.svg#icon-star"
                  width="16"
                  height="16"
                ></use>
              </svg>
              <svg class="stars-icon">
                <use
                  href="./img/icons.svg#icon-star"
                  width="16"
                  height="16"
                ></use>
              </svg>
              <svg class="stars-icon">
                <use
                  href="./img/icons.svg#icon-star"
                  width="16"
                  height="16"
                ></use>
              </svg>
            </div>
          </div>
          <p class="comment-text">
            The courses at the photography school exceeded all my expectations.
            I gained not only technical knowledge, but also inspiration and
            motivation to reach new heights in my creativity. Hands-on classes
            and workshops helped me understand different styles of photography.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
