<!-- Reviews section -->
<section class="reviews-section" id="reviews">
    <div class="reviews-container">
            <div class="title-container">
        <h2 class="reviews-title">Reviews</h2>
        </div>
    
    
        <ul class="reviews-list">
    <div class="reviews-list-container">
        <!-- first card -->
        <div class="first-second-review-container"> 
      <li class="reviews-item">
        <div class="avatar-name-stars-cont">
        <div class="avatar-name-container">
        <img class="avatar-img"
        src="../img/1x/person1@1x.jpg" 
        alt="student avatar"
        width="56" height="56"
        />
        <div class="name-status-container">
        <h3 class="name-title">Abraham Baker</h3>
        <h4 class="status-title">Student</h4>
    </div>
    </div>
    <div class="stars-container">
        <svg class="stars-icon">
            <use href="../img/icons.svg#icon-star" width="16" height="16"></use>
        </svg>
        <svg class="stars-icon">
            <use href="../img/icons.svg#icon-star" width="16" height="16"></use>
        </svg>
        <svg class="stars-icon">
            <use href="../img/icons.svg#icon-star" width="16" height="16"></use>
        </svg>
        <svg class="stars-icon">
            <use href="../img/icons.svg#icon-star" width="16" height="16"></use>
        </svg>
        <svg class="stars-icon-dark">
            <use href="../img/icons.svg#icon-star" width="16" height="16"></use>
        </svg> 
    </div>
</div>
    <div class="comment-text-container">
        <p class="comment-text">
          I am very pleased that I decided to enroll in photography school. The
          teachers turned out to be very talented and experienced professionals who
          share their knowledge and are dedicated to their work. I was able to
          expand my skills and discover my own style.
        </p>
    </div>
      </li>
     </div> 

    <!-- second card -->
      <div class="first-second-review-container second-review">
      <li class="reviews-item">
        <div class="avatar-name-stars-cont">
        <div class="avatar-name-container">
            <img class="avatar-img"
            src="../img/1x/person2@1x.jpg" 
            alt="student avatar"
            width="56" height="56"
            />
    <div class="name-status-container">
        <h3 class="name-title">Amanda Lowery</h3>
        <h4 class="status-title">Student</h4>
    </div>
    </div>
    <div class="stars-container second-review-stars-container">
        <svg class="stars-icon">
            <use href="../img/icons.svg#icon-star" width="16" height="16"></use>
        </svg>
        <svg class="stars-icon">
            <use href="../img/icons.svg#icon-star" width="16" height="16"></use>
        </svg>
        <svg class="stars-icon">
            <use href="../img/icons.svg#icon-star" width="16" height="16"></use>
        </svg>
        <svg class="stars-icon">
            <use href="../img/icons.svg#icon-star" width="16" height="16"></use>
        </svg>
        <svg class="stars-icon-dark">
            <use href="../img/icons.svg#icon-star" width="16" height="16"></use>
        </svg> 
    </div>
</div>
    <div class="comment-text-container">
        <p class="comment-text">
          The courses at the photography school exceeded all my expectations. I
          gained not only technical knowledge, but also inspiration and motivation
          to reach new heights in my creativity. Hands-on classes and workshops
          helped me understand different styles of photography.
        </p>
    </div>
      </li>
    </div>
        </ul>

    </section>
    