<section class="sing-up" id="sing-up">

    <div class="container">
        <div class="form">
            <div class="form-box">
                <h2 class="sing-up-title">Sing <span class="sing-up-title-two">Up</span></h2>
                <p class="sing-up-subtitle">Please use the form below to contact us. Enter your name, email, and message
                    and we'll get back to you shortly.</p>
                <form class="form-sing-up">
                    <div class="form-input-box">
                        <input class="form-input" type="text" name="your name" placeholder="Enter your name"
                            minlength="5" required />
                    </div>
                    <div class="form-input-box">
                        <input class="form-input" type="email" name="email" placeholder="Enter your email" required />
                    </div>
                    <div class="form-textarea-box">
                        <textarea class="form-textarea" name="message" rows="6" placeholder="Message"></textarea>
                    </div>
                    <button class="form-btn" type="submit">Send</button>
                    <p class="form-privacy">By clicking on “Send” button, you agree to our <a
                            class="form-privacy-policy" href="" target="_blank" rel="noopene no-referrer">Privacy
                            Policy</a>, and allow Promodo to use this information for marketing purposes.
                    </p>
                </form>
            </div>

            <div class="sing-up-box-img">
                <div class="photo1">
                    <img class="focus"
                        srcset="./img/1x/isabella-mendes-camera@1x.png 1x, ./img/2x/isabella-mendes-camera@2x.png 2x"
                        src="./images/themostinspringplaces.jpg" alt="photo phocus">
                </div>

                <div class="photo2">
                    <img class="camera"
                        srcset="./img/1x/video-entry-camera@1x.png 1x, ./img/2x/video-entry-camera@2x.png 2x"
                        src="./images/themostinspringplaces.jpg" alt="photo camera">
                </div>
            </div>
        </div>
    </div>
</section>