<section class="sing-up">


    <div class="container">
        <div class="form">

            
                <h3 class="sing-up-title">Sing <span class="sing-up-title-two">Up</span></h3>
                <p class="sing-up-subtitle">Please use the form below to contact us. Enter your name, email, and message and
                    we'll get back to you shortly.</p>
            <form class="form-sing-up"></form>
                <div class="form-input-box">
                    <input class="form-input" type="text" name="your name" placeholder="Enter your name" required />
                </div>
                <div class="form-input-box">
                    <input class="form-input" type="email" name="email" placeholder="Enter your email" required />
                </div>
                <div class="form-textarea-box">
                    <textarea class="form-textarea" name="message" rows="6" placeholder="Message" required></textarea>
                </div>
                <button class="form-btn" type="submit">Send</button>
                <p class="form-privacy">By clicking on “Send” button, you agree to our <a class="form-privacy-policy"
                        href="" target="_blank" rel="noopene no-referrer">Privacy Policy</a>, and allow Promodo to use this
                    information for marketing
                    purposes.</p>
            </form>
        </div>
    </div>

</section>