.block-section {
  margin-bottom: 80px;
}
.block-container {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.block-item-wrap {
  white-space: nowrap;
  animation: move_eye 10s linear 0s infinite normal;
}

.block-container:hover .block-item-wrap {
  animation-play-state: paused;
}

.block-item {
  color: var(--light_brown);
  font-family: DM Sans;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  padding: 20px 0;
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  min-width: 100%;
}
.block-item-piece-text {
  color: var(--white);
  font-family: DM Sans;
  font-size: 28px;
  font-weight: 400;
}
@keyframes move_eye {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@media only screen and (min-width: 768px) {
  .block-section {
    margin-bottom: 100px;
  }
  .block-wrap {
    gap: 24px;
  }
  .block-item {
    font-size: 40px;
    line-height: 1.25;
    padding: 24px 0;
  }

  .block-item-piece-text {
    font-size: 40px;
    line-height: 1.25;
  }
}
@media only screen and (min-width: 1280px) {
  .block-section {
    margin-bottom: 150px;
  }
  .block-item {
    font-size: 59px;
    line-height: 1.08;
  }

  .block-item-piece-text {
    font-size: 59px;
    line-height: 1.08;
  }
}
