.hero {
  padding-top: 90px !important;
  padding-bottom: 80px !important;
  background-image: url(../img/graphic/graphic_mobile@1x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: url(../img/graphic/graphic_mobile@2x.png);
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    padding-top: 120px !important;
    padding-bottom: 100px !important;
    background-image: url(../img/graphic/graphic_tablet@1x.png);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url(../img/graphic/graphic_tablet@2x.png);
    }
  }
}

@media only screen and (min-width: 1280px) {
  .hero {
    padding-top: 160px !important;
    padding-bottom: 150px !important;
    background-image: url(../img/graphic/Graphic@1x.png);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url(../img/graphic/Graphic@2x.png);
    }
  }
}

.hero-container {
  max-width: 335px;
  padding: 0 20px;
  border-radius: 30px;
  background-color: var(--dark_gray);
}

@media only screen and (min-width: 768px) {
  .hero-container {
    max-width: 704px;
    padding: 0 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-container {
    position: relative;
    max-width: 1080px;
    padding: 0 50px;
    height: 600px;
  }
}

@media only screen and (min-width: 1440px) {
  .hero-container {
    max-width: 1240px;
    padding-right: 100px;
  }
}

.hero-title {
  max-width: 295px;
  padding-top: 40px;
  margin-bottom: 20px;
  color: var(--white);
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.04em;
}

@media only screen and (min-width: 768px) {
  .hero-title {
    padding-top: 64px;
    max-width: 517px;
    font-size: 60px;
    line-height: 1.07;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-title {
    padding-top: 80px;
    max-width: 563px;
    font-size: 64px;
    line-height: 1.06;
  }
}

.hero-title-second-style {
  color: var(--light_brown);
  font-style: italic;
  font-weight: 400;
}

.hero-text {
  max-width: 295px;
  margin-bottom: 40px;
  color: var(--white);
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
}

@media only screen and (min-width: 768px) {
  .hero-text {
    max-width: 418px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-text {
    margin-bottom: auto;
  }
}

.hero-box {
  display: flex;
  gap: 40px;
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
  .hero-box {
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 768px) {
  .students {
    display: flex;
    gap: 10px;
  }
}

.students-image {
  margin-bottom: 4px;
}

@media only screen and (min-width: 768px) {
  .students-image {
    width: 135px;
    height: 54px;
  }
}

.scroll {
  max-width: 90px;
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .scroll {
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
  }
}

.scroll-to-reviews {
  max-width: 67px;
  color: var(--white);
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.04em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .scroll-to-reviews {
    max-width: 82px;
    font-size: 16px;
    line-height: 1.25;
  }
}

.scroll:hover .scroll-to-reviews,
.scroll:focus .scroll-to-reviews,
.scroll:active .scroll-to-reviews {
  color: var(--light_brown);
}

.hero-icon-arrow {
  fill: var(--white);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.scroll:hover .hero-icon-arrow,
.scroll:focus .hero-icon-arrow,
.scroll:active .hero-icon-arrow {
  fill: var(--light_brown);
}

.reviews {
  display: flex;
  gap: 12px;
}

.hero-star-box {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: var(--light_brown);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .hero-star-box {
    width: 50px;
    height: 50px;
  }
}

.hero-icon-star {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  fill: transparent;
  stroke: var(--black);
}

.reviews-text {
  margin-bottom: 4px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.04em;
}

@media only screen and (min-width: 768px) {
  .reviews-text {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 1.25;
  }
}

.reviews-second-text {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.12;
  letter-spacing: -0.04em;
}

@media only screen and (min-width: 768px) {
  .reviews-second-text {
    line-height: 1.25;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-thumb {
    position: absolute;
    bottom: 0;
    right: 5%;
  }
}

.hero-photograf-img {
  margin: 0 auto;
}
